header {
    height: 80px;
    background-color: #1B1920;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header .header {
    width: 100%;
    line-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .header>a {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
}

header .header>a span {
    color: #3286D7;

}

header .header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .header nav ul li {
    margin-left: 30px;
}

header .header nav ul li:first-child {
    margin-left: 0px;
}

header .header nav ul li a {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 1.2rem;
    transition: color 0.2s;
    position: relative;
}

header .header nav ul li a:hover,
header .header nav ul li a.active {
    color: #3286D7;
}

header .header nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #3286D7;

    position: absolute;
    left: 0;
    bottom: -1.75rem;
    transition: width 0.3s;
}

header .header nav ul li a:hover::after,
header .header nav ul li a.active::after {
    width: 100%;
}